<!-- provides the view to add a new product-->

    <div class="container" ng-controller="NewController">

        <br />
        <br />

            <h5 class="display-1"> {{greeting}} </h5>
        <br />
        

        <form name="newProductForm" class="form-group">
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Id</label>
                <div class="col-10">
                    <input name="newId" class="form-control" type="text" ng-model="Id" required>
                    <span ng-show="newProductForm.newId.$touched && newProductForm.newId.$invalid">Product Id is required.</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input name="newName" class="form-control" type="text" ng-model="Name" ng-maxlength="50"  required>
                    <span ng-show="newProductForm.newName.$touched && newProductForm.newName.$invalid">Product's name is required and max length should be 50 chars</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Description</label>
                <div class="col-10">
                    <input  name="newDescription" class="form-control" type="text" ng-model="Description" ng-maxlength="100">
                    <span ng-show="newProductForm.newDescription.$touched && newProductForm.newDescription.$invalid">Product's description max length should be 100 chars</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Age Restriction</label>
                <div class="col-10">
                    <input name="newAge" class="form-control" type="text" ng-model="AgeRestriction">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Company</label>
                <div class="col-10">
                    <input name="newCompany" class="form-control" type="text" ng-model="Company" ng-maxlength="50" required>
                    <span ng-show="newProductForm.newCompany.$touched && newProductForm.newCompany.$invalid">Product's company is required and max length should be 50</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Price</label>
                <div class="col-10">
                    <input name="newPrice" class="form-control" type="text" ng-model="Price" required>
                    <span ng-show="newProductForm.newPrice.$touched && newProductForm.newPrice.$invalid">Product's price is required.</span>
                </div>
            </div>

            <div class="form-group row">
                <a class="btn btn-primary btn-lg" href="#!/" ng-click='saveProduct()'>Save Data</a>
            </div>
            
        </form>

    </div>