    <!-- The first view loaded when the app starts, ir displays all the products saved on the back end-->

    <div class="container" ng-controller="IndexController">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>AgeRestriction</th>
                <th>Company</th>
                <th>Price</th>
            </tr>
            <tbody data-ng-repeat="prod in products">
                <tr>
                    <td>{{prod.Id}}</td>
                    <td>{{prod.Name}}</td>
                    <td>{{prod.Description}}</td>
                    <td>{{prod.AgeRestriction}}</td>
                    <td>{{prod.Company}}</td>
                    <td>{{prod.Price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
